{% extends 'blog/base.html' %}

{% block content %}
<div>
    <h1><u> Online CV </u></h1>
    <div>
        <h2>Education</h2>
        <ul>
            <li> A-levels: 3 As in Maths, Physics and Spanish</li>
            <li>GCSE: 5 A*s 2 As, including A*s in Physics and Maths</li>
            <li> Currently studying towards a BSc in Computer Science</li>
        </ul>
    </div>
    <div>
        <h2>Skills</h2>
        <ul>
            <li>Leadership: Appointed to Role of Responsibility in final school year (Head of House)</li>
            <li>Teamwork: Completed NCS government programme which involved raising money for 2 local charities as well as raising awareness for C.R.Y. (Cardiac Risk in the Young) </li>

        </ul>
    </div>
    <div>
        <h2>Details</h2>
    </div>
</div>
{% endblock %}