{% extends 'blog/base.html' %}

{% block content %}
<div>
    <h1><u> Online Miniature CV </u></h1>
    <div>
        <h2>Education</h2>
        <ul>
            <li> Currently studying towards a BSc in Computer Science</li>
            <li> A-levels: 3 As in Maths, Physics and Spanish</li>
            <li>GCSE: 5 A*s 2 As, including A*s in Physics and Maths</li>
            
        </ul>
    </div>
    <div>
        <h2>Skills</h2>
        <ul>
            <li>Leadership + Teamwork: Involved in various group and leadership roles, including organising events for charity, building comprehensive Use Case Diagrams for a software and sports</li>
            <li> Programming: Expertise in topics such as Machine Learning, OOP, Functional Programming in a range of languages including Java, Python, C and Haskell </li>

        </ul>
    </div>
    <div>
        <h2>Details</h2>
            <ul>
                <li> Email: jordanasiama3@gmail.com</li>
            </ul>
    </div>
</div>
{% endblock %}