{% extends 'blog/base.html' %}
{% block content %}
<div>
    <h1><u>My Homepage</u></h1>
    <h3> I am a BSc. Computer Science student heading into my 2nd year of university. This webpage was built using
    the guidelines put forward by djangogirls.com and is my first experience implementing Django and deploying a website. 
    </h3>

    <h3> I've attached the 3 requested posts, reflecting on my year at university, what I look forward to
        going forward, how my site is structured and posts more personal in nature, aiming to give 
        this website more of a feeling of being an actual blog. On top of this, I've attached a quick
        CV with quick bullet points, for me to add to as time goes on.
    </h3>
</div>

{% endblock %}